@import url("./reset.css");
@import url("./index.css");

:root {
    --brand-1: #4C6EF5;
    --brand-2: #364FC7;
    --gray-1: #191C1F;
    --gray-2: #212529;
    --gray-3: #343A40;
    --gray-4: #ADB5BD;
    --gray-5: #CED4DA;
    --gray-6: #EDF2FF;
    --gray-7: #F8F9FA;

    --title1-font-weight: 600;
    --title1-font-size: clamp(2.25rem, 1.739rem + 1.925vw, 3.25rem);
    --title1-line-height: 140%;
    --title2-font-weight: 600;
    --title2-font-size: clamp(1.875rem, 1.555rem + 1.203vw, 2.5rem);
    --title2-line-height: 160%;
    --title3-font-weight: 600;
    --title3-font-size: clamp(1.5rem, 1.244rem + 0.963vw, 2rem);
    --title3-line-height: 160%;
    --text1-font-weight: 400;
    --text1-font-size: clamp(0.875rem, 0.683rem + 0.722vw, 1.25rem);
    --text1-line-height: 150%;
    --text2-font-weight: 400;
    --text2-font-size: clamp(0.75rem, 0.558rem + 0.722vw, 1.125rem);
    --text2-line-height: 150%;
    --text3-font-weight: 400;
    --text3-font-size: clamp(0.625rem, 0.433rem + 0.722vw, 1rem);
    --text3-line-height: 150%;
    --text4-font-weight: 600;
    --text4-font-size: clamp(0.625rem, 0.433rem + 0.722vw, 1rem);
    --text4-line-height: 150%;

    --input-padding: 14px 20px;
    --input-default-background-color: var(--gray-1);
    --input-default-border: 1px solid var(--gray-1);
    --input-valid-background-color: var(--gray-3);
    --input-valid-border: 1px solid var(--gray-3);
    --input-focus-background-color: var(--gray-2);
    --input-focus-border: 1px solid var(--brand-1);

    --button-padding: 20px 32px;
    --button-color: var(--gray-7);
    --button-brand-default-background-color: var(--brand-1);
    --button-brand-default-border: 1px solid var(--brand-1);
    --button-brand-hover-background-color: var(--brand-2);
    --button-brand-hover-border: 1px solid var(--brand-2);
    --button-default-background-color: var(--gray-1);
    --button-default-border: 1px solid var(--gray-7);
    
    --vertical-padding-banner: clamp(10rem, 7.123rem + 10.83vw, 15.625rem);
    --vertical-padding: clamp(3rem, 1.913rem + 4.091vw, 5.125rem);
    --lateral-padding: clamp(3rem, -1.603rem + 17.329vw, 12rem);
    --callout-padding: clamp(2rem, 0.466rem + 5.776vw, 5rem) clamp(1.5rem, 0.477rem + 3.851vw, 3.5rem);

    --gap: clamp(1rem, 0.489rem + 1.925vw, 2rem);
    --gap-banner: clamp(1.75rem, 1.239rem + 1.925vw, 2.75rem);
    --gap-large: clamp(2.5rem, 1.733rem + 2.888vw, 4rem);
    
    --header-height: 6.5rem;
    --vertical-padding-plus-header: calc(var(--header-height) + var(--vertical-padding));

    --width-left-section: 49%;
    --gap-section: 5%;
    --width-right-section: 46%;

    --max-width-full: 1256px;
}