body {
    background-color: var(--gray-1);
    font-family: 'Inter', sans-serif;
}

h1 {
    font-weight: var(--title1-font-weight);
    font-size: var(--title1-font-size);
    line-height: var(--title1-line-height);
    color: var(--gray-6)
}

h2 {
    font-weight: var(--title2-font-weight);
    font-size: var(--title2-font-size);
    line-height: var(--title2-line-height);
    color: var(--gray-6)
}

h3 {
    font-weight: var(--title3-font-weight);
    font-size: var(--title3-font-size);
    line-height: var(--title3-line-height);
    color: var(--gray-6)
}

header {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-1);
    height: var(--header-height);
    border-bottom: 2px solid var(--brand-1);
    padding: 0px var(--lateral-padding);
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: var(--max-width-full);
}

.header__button {
    padding: var(--button-padding);
    color: var(--button-color);
    background-color: var(--button-default-background-color);
    border: var(--button-default-border);
    font-size: var(--text4-font-size);
    font-weight: var(--text4-font-weight);
    line-height: var(--text4-line-height);
}

.header__button:hover {
    cursor: pointer;
}

section {
    display: flex;
    justify-content: center;
}

.banner {
    background-color: var(--gray-2);
    display: flex;
    flex-direction: column;
    gap: var(--gap-banner);
    align-items: center;
    padding: var(--vertical-padding-banner) var(--lateral-padding);
    max-width: var(--max-width-full);
}

.banner__title {
    text-align: center;
}

.banner__title--highlight {
    color: var(--brand-1)
}

.banner__text {
    color: var(--gray-4);
    width: 60%;
    text-align: center;
}

.banner__button,
.faq__button,
.modal__button {
    padding: var(--button-padding);
    color: var(--button-color);
    background-color: var(--button-brand-default-background-color);
    border: var(--button-brand-default-border);
    font-size: var(--text4-font-size);
    font-weight: var(--text4-font-weight);
    line-height: var(--text4-line-height);
    width: fit-content;
}

.banner__button:hover,
.faq__button:hover,
.modal__button:hover {
    cursor: pointer;
    background-color: var(--button-brand-hover-background-color);
    border: var(--button-brand-hover-border);
}

.about {
    padding: var(--vertical-padding) var(--lateral-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-section);
    max-width: var(--max-width-full);
}

.about__text {
    font-weight: var(--text1-font-weight);
    font-size: var(--text1-font-size);
    line-height: var(--text1-line-height);
    color: var(--gray-5);
    width: var(--width-right-section);
    text-align: justify;
}

.banner-section,
.faq-section,
.comments-section {
    background-color: var(--gray-2);
}

.faq {
    padding: var(--vertical-padding) var(--lateral-padding);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--gap-section);
    max-width: var(--max-width-full);
}

.faq-left {
    position: sticky;
    top: var(--vertical-padding-plus-header);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: var(--width-left-section);
}

.faq-left__text {
    font-weight: var(--text1-font-weight);
    font-size: var(--text1-font-size);
    line-height: var(--text1-line-height);
    color: var(--gray-4);
    text-align: justify;
    width: 80%;
}

.faq-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--width-right-section);
    gap: var(--gap-large);
}

.faq-right__title {
    text-align: center;
}

.faq-right__text {
    margin-top: 20px;
    font-weight: var(--text1-font-weight);
    font-size: var(--text1-font-size);
    line-height: var(--text1-line-height);
    color: var(--gray-4);
    text-align: justify;
}

.comments {
    padding: var(--vertical-padding) var(--lateral-padding);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--gap-section);
    max-width: var(--max-width-full);
}

.comments-right {
    position: sticky;
    top: var(--vertical-padding-plus-header);
    padding: 0px 0px 0px 5%;
    width: var(--width-right-section);
}

.comments-right-callout {
    background-color: var(--brand-1);
    padding: var(--callout-padding);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.comments-right-callout__title {
    color: var(--gray-7);
}

.comments-right-callout__text {
    font-weight: var(--text1-font-weight);
    font-size: var(--text1-font-size);
    line-height: var(--text1-line-height);
    color: var(--gray-7);
    text-align: justify;
}

.comments-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--width-left-section);
    gap: var(--gap-large);
}

.comments-left__box {
    display: flex;
    gap: 1rem;
}

.comments-left__title-box {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.comments-left__subtitle {
    font-weight: var(--text3-font-weight);
    font-size: var(--text3-font-size);
    line-height: var(--text3-line-height);
    color: var(--gray-4);
}

.comments-left__text {
    width: 66%;
    text-align: justify;
    font-weight: var(--text2-font-weight);
    font-size: var(--text2-font-size);
    line-height: var(--text2-line-height);
    color: var(--gray-5);
}

.footer {
    padding: 50px 0px;
    text-align: center;
}

.modalController {
    padding: 0px;
    border: none;
}

.modalController::backdrop {
    background-color: rgba(25, 28, 31, 0.8);
}

.modal__container {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    background-color: var(--gray-2);
    max-width: 100vw;
    padding: 2.5rem 1.75rem;
    border: 2px solid var(--brand-1);
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closeButton {
    background-color: var(--gray-3);
    color: var(--gray-5);
    border: none;
    border-radius: 3px;
}

.modal__text {
    font-weight: var(--text3-font-weight);
    font-size: var(--text3-font-size);
    line-height: var(--text3-line-height);
    color: var(--gray-4);
    width: 31.25rem;
    max-width: 100%;
}

.modal__input {
    padding: var(--input-padding);
    background-color: var(--input-default-background-color);
    border: var(--input-default-border);
    font-weight: var(--text1-font-weight);
    font-size: var(--text1-font-size);
    line-height: var(--text1-line-height);
    color: var(--gray-4);
}

.modal__input:valid {
    background-color: var(--input-valid-background-color);
    border: var(--input-valid-border);
}

.modal__input:focus {
    background-color: var(--input-focus-background-color);
    border: var(--input-focus-border);
}

.modal__button {
    width: 100%;
}

@media(max-width: 780px) {

    .about,
    .faq,
    .comments {
        flex-direction: column;
        align-items: center;
        gap: var(--gap-large)
    }

    .comments-right,
    .faq-left {
        position: static;
        align-items: center;
    }

    .banner__text,
    .about__text,
    .faq-left,
    .faq-left__text,
    .faq-right,
    .comments-right,
    .comments-left {
        width: 100%;
    }

    .faq-left {
        text-align: center;
    }

}

@media(max-width: 550px) {
    .header__button {
        display: none;
    }
}